## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / VS Code / Rider
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
.idea/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Others
*.DotSettings.user
